In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/EURUSD_M5.csv')

In [3]:
df.sort_values(by='data', ascending=False)

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume,data,M9,M20,M200
499,499,1636537200,1.15677,1.15699,1.15672,1.15672,136,5,0,2021-11-10 09:40:00,1.156869,1.156874,1.158621
498,498,1636536900,1.15690,1.15693,1.15671,1.15676,203,5,0,2021-11-10 09:35:00,1.156880,1.156915,1.158627
497,497,1636536600,1.15687,1.15708,1.15673,1.15691,256,5,0,2021-11-10 09:30:00,1.156869,1.156975,1.158636
496,496,1636536300,1.15672,1.15690,1.15665,1.15687,206,5,0,2021-11-10 09:25:00,1.156824,1.157037,1.158643
495,495,1636536000,1.15702,1.15710,1.15673,1.15677,284,5,0,2021-11-10 09:20:00,1.156779,1.157100,1.158649
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,1636388700,1.15931,1.15944,1.15908,1.15926,337,5,0,2021-11-08 16:25:00,NaN,NaN,NaN
3,3,1636388400,1.15890,1.15932,1.15879,1.15932,309,5,0,2021-11-08 16:20:00,NaN,NaN,NaN
2,2,1636388100,1.15872,1.15894,1.15829,1.15892,347,5,0,2021-11-08 16:15:00,NaN,NaN,NaN
1,1,1636387800,1.15788,1.15877,1.15782,1.15876,298,5,0,2021-11-08 16:10:00,NaN,NaN,NaN
0,0,1636387500,1.15757,1.15790,1.15752,1.15786,304,5,0,2021-11-08 16:05:00,NaN,NaN,NaN

In [4]:
df.dtypes

Unnamed: 0       int64
time             int64
open           float64
high           float64
low            float64
close          float64
tick_volume      int64
spread           int64
real_volume      int64
data            object
M9             float64
M20            float64
M200           float64
dtype: object

In [5]:
df['Unnamed: 0']

0        0
1        1
2        2
3        3
4        4
      ...
495    495
496    496
497    497
498    498
499    499
Name: Unnamed: 0, Length: 500, dtype: int64

In [6]:
df.drop(columns=['Unnamed: 0', 'time', 'real_volume'], inplace=True)

In [7]:
df

,open,high,low,close,tick_volume,spread,data,M9,M20,M200
0,1.15757,1.15790,1.15752,1.15786,304,5,2021-11-08 16:05:00,NaN,NaN,NaN
1,1.15788,1.15877,1.15782,1.15876,298,5,2021-11-08 16:10:00,NaN,NaN,NaN
2,1.15872,1.15894,1.15829,1.15892,347,5,2021-11-08 16:15:00,NaN,NaN,NaN
3,1.15890,1.15932,1.15879,1.15932,309,5,2021-11-08 16:20:00,NaN,NaN,NaN
4,1.15931,1.15944,1.15908,1.15926,337,5,2021-11-08 16:25:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
495,1.15702,1.15710,1.15673,1.15677,284,5,2021-11-10 09:20:00,1.156779,1.157100,1.158649
496,1.15672,1.15690,1.15665,1.15687,206,5,2021-11-10 09:25:00,1.156824,1.157037,1.158643
497,1.15687,1.15708,1.15673,1.15691,256,5,2021-11-10 09:30:00,1.156869,1.156975,1.158636
498,1.15690,1.15693,1.15671,1.15676,203,5,2021-11-10 09:35:00,1.156880,1.156915,1.158627
499,1.15677,1.15699,1.15672,1.15672,136,5,2021-11-10 09:40:00,1.156869,1.156874,1.158621

In [8]:
df.sort_index(ascending=False, inplace=True)

In [9]:
df.head(20)

,open,high,low,close,tick_volume,spread,data,M9,M20,M200
499,1.15677,1.15699,1.15672,1.15672,136,5,2021-11-10 09:40:00,1.156869,1.156874,1.158621
498,1.15690,1.15693,1.15671,1.15676,203,5,2021-11-10 09:35:00,1.156880,1.156915,1.158627
497,1.15687,1.15708,1.15673,1.15691,256,5,2021-11-10 09:30:00,1.156869,1.156975,1.158636
496,1.15672,1.15690,1.15665,1.15687,206,5,2021-11-10 09:25:00,1.156824,1.157037,1.158643
495,1.15702,1.15710,1.15673,1.15677,284,5,2021-11-10 09:20:00,1.156779,1.157100,1.158649
494,1.15691,1.15704,1.15657,1.15702,290,5,2021-11-10 09:15:00,1.156736,1.157159,1.158654
493,1.15701,1.15701,1.15671,1.15690,235,5,2021-11-10 09:10:00,1.156674,1.157191,1.158658
492,1.15688,1.15727,1.15688,1.15701,297,5,2021-11-10 09:05:00,1.156704,1.157231,1.158665
491,1.15682,1.15714,1.15663,1.15686,326,5,2021-11-10 09:00:00,1.156722,1.157272,1.158670
490,1.15665,1.15689,1.15664,1.15682,209,5,2021-11-10 08:55:00,1.156764,1.157315,1.158678
489,1.15649,1.15677,1.15648,1.15666,166,5,2021-11-10 08:50:00,1.156820,1.157362,1.158682
488,1.15645,1.15651,1.15570,1.15651,324,5,2021-11-10 08:45:00,1.156908,1.157420,1.158690
487,1.15637,1.15647,1.15614,1.15646,220,5,2021-11-10 08:40:00,1.157023,1.157491,1.158697
486,1.15644,1.15656,1.15629,1.15638,294,5,2021-11-10 08:35:00,1.157189,1.157568,1.158709
485,1.15716,1.15717,1.15639,1.15647,336,5,2021-11-10 08:30:00,1.157387,1.157635,1.158727
484,1.15716,1.15734,1.15714,1.15717,134,5,2021-11-10 08:25:00,1.157571,1.157700,1.158747
483,1.15723,1.15741,1.15705,1.15717,210,5,2021-11-10 08:20:00,1.157658,1.157733,1.158764
482,1.15731,1.15733,1.15696,1.15724,224,5,2021-11-10 08:15:00,1.157713,1.157768,1.158779
481,1.15745,1.15752,1.15728,1.15732,257,5,2021-11-10 08:10:00,1.157763,1.157804,1.158791
480,1.15755,1.15765,1.15743,1.15745,142,5,2021-11-10 08:05:00,1.157821,1.157836,1.158802

In [10]:
df['CloseMaiorM9'] = df['close'] >= df['M9']

In [24]:
df['M9MaiorM20'] = df['M9'] > df['M20']
df['M9MenorM20'] = df['M9'] < df['M20']
df['M20MaiorM200'] = df['M20'] > df['M200']
df['M20MenorM200'] = df['M20'] < df['M200']

In [21]:
df.head(100)

,open,high,low,close,tick_volume,spread,data,M9,M20,M200,CloseMaiorM9,M9MaiorM20,M9MenorM20
499,1.15677,1.15699,1.15672,1.15672,136,5,2021-11-10 09:40:00,1.156869,1.156874,1.158621,False,False,True
498,1.15690,1.15693,1.15671,1.15676,203,5,2021-11-10 09:35:00,1.156880,1.156915,1.158627,False,False,True
497,1.15687,1.15708,1.15673,1.15691,256,5,2021-11-10 09:30:00,1.156869,1.156975,1.158636,True,False,True
496,1.15672,1.15690,1.15665,1.15687,206,5,2021-11-10 09:25:00,1.156824,1.157037,1.158643,True,False,True
495,1.15702,1.15710,1.15673,1.15677,284,5,2021-11-10 09:20:00,1.156779,1.157100,1.158649,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,1.15915,1.15918,1.15909,1.15913,52,5,2021-11-10 01:45:00,1.159223,1.159264,1.158871,False,False,True
403,1.15912,1.15918,1.15909,1.15915,54,5,2021-11-10 01:40:00,1.159259,1.159272,1.158872,False,False,True
402,1.15931,1.15939,1.15906,1.15912,94,5,2021-11-10 01:35:00,1.159283,1.159277,1.158873,False,True,False
401,1.15927,1.15937,1.15927,1.15931,89,5,2021-11-10 01:30:00,1.159307,1.159284,1.158875,True,True,False
400,1.15934,1.15935,1.15927,1.15927,62,5,2021-11-10 01:25:00,1.159310,1.159276,1.158875,False,True,False

In [13]:
df.loc[480]

open                        1.15755
high                        1.15765
low                         1.15743
close                       1.15745
tick_volume                     142
spread                            5
data            2021-11-10 08:05:00
M9                         1.157821
M20                        1.157836
M200                       1.158802
CloseMaiorM9                  False
M9MaiorM20                    False
Name: 480, dtype: object

In [14]:

for i in df[480:499]:
    print(i)

open
high
low
close
tick_volume
spread
data
M9
M20
M200
CloseMaiorM9
M9MaiorM20

In [25]:
df.loc[499:480]

,open,high,low,close,tick_volume,spread,data,M9,M20,M200,CloseMaiorM9,M9MaiorM20,M9MenorM20,M20MaiorM200,M20MenorM200
499,1.15677,1.15699,1.15672,1.15672,136,5,2021-11-10 09:40:00,1.156869,1.156874,1.158621,False,False,True,False,True
498,1.15690,1.15693,1.15671,1.15676,203,5,2021-11-10 09:35:00,1.156880,1.156915,1.158627,False,False,True,False,True
497,1.15687,1.15708,1.15673,1.15691,256,5,2021-11-10 09:30:00,1.156869,1.156975,1.158636,True,False,True,False,True
496,1.15672,1.15690,1.15665,1.15687,206,5,2021-11-10 09:25:00,1.156824,1.157037,1.158643,True,False,True,False,True
495,1.15702,1.15710,1.15673,1.15677,284,5,2021-11-10 09:20:00,1.156779,1.157100,1.158649,False,False,True,False,True
494,1.15691,1.15704,1.15657,1.15702,290,5,2021-11-10 09:15:00,1.156736,1.157159,1.158654,True,False,True,False,True
493,1.15701,1.15701,1.15671,1.15690,235,5,2021-11-10 09:10:00,1.156674,1.157191,1.158658,True,False,True,False,True
492,1.15688,1.15727,1.15688,1.15701,297,5,2021-11-10 09:05:00,1.156704,1.157231,1.158665,True,False,True,False,True
491,1.15682,1.15714,1.15663,1.15686,326,5,2021-11-10 09:00:00,1.156722,1.157272,1.158670,True,False,True,False,True
490,1.15665,1.15689,1.15664,1.15682,209,5,2021-11-10 08:55:00,1.156764,1.157315,1.158678,True,False,True,False,True
489,1.15649,1.15677,1.15648,1.15666,166,5,2021-11-10 08:50:00,1.156820,1.157362,1.158682,False,False,True,False,True
488,1.15645,1.15651,1.15570,1.15651,324,5,2021-11-10 08:45:00,1.156908,1.157420,1.158690,False,False,True,False,True
487,1.15637,1.15647,1.15614,1.15646,220,5,2021-11-10 08:40:00,1.157023,1.157491,1.158697,False,False,True,False,True
486,1.15644,1.15656,1.15629,1.15638,294,5,2021-11-10 08:35:00,1.157189,1.157568,1.158709,False,False,True,False,True
485,1.15716,1.15717,1.15639,1.15647,336,5,2021-11-10 08:30:00,1.157387,1.157635,1.158727,False,False,True,False,True
484,1.15716,1.15734,1.15714,1.15717,134,5,2021-11-10 08:25:00,1.157571,1.157700,1.158747,False,False,True,False,True
483,1.15723,1.15741,1.15705,1.15717,210,5,2021-11-10 08:20:00,1.157658,1.157733,1.158764,False,False,True,False,True
482,1.15731,1.15733,1.15696,1.15724,224,5,2021-11-10 08:15:00,1.157713,1.157768,1.158779,False,False,True,False,True
481,1.15745,1.15752,1.15728,1.15732,257,5,2021-11-10 08:10:00,1.157763,1.157804,1.158791,False,False,True,False,True
480,1.15755,1.15765,1.15743,1.15745,142,5,2021-11-10 08:05:00,1.157821,1.157836,1.158802,False,False,True,False,True

In [28]:
df.shape

(500, 15)

In [29]:
pd.set_option('display.max_columns', 15)

In [16]:
filt = (df['data'] == '2021-11-09 04:00:00')

In [17]:
df[filt]

,open,high,low,close,tick_volume,spread,data,M9,M20,M200,CloseMaiorM9,M9MaiorM20
143,1.15845,1.15853,1.15829,1.1585,89,5,2021-11-09 04:00:00,1.15836,1.15827,NaN,True,True

In [30]:
df.loc[289:269]

,open,high,low,close,tick_volume,spread,data,M9,M20,M200,CloseMaiorM9,M9MaiorM20,M9MenorM20,M20MaiorM200,M20MenorM200
289,1.15803,1.15835,1.15794,1.15823,542,5,2021-11-09 16:10:00,1.159479,1.159220,1.158892,False,True,False,True,False
288,1.15881,1.15892,1.15796,1.15803,725,5,2021-11-09 16:05:00,1.159606,1.159197,1.158895,False,True,False,True,False
287,1.15999,1.16017,1.15880,1.15882,736,5,2021-11-09 16:00:00,1.159769,1.159184,1.158898,False,True,False,True,False
286,1.16039,1.16075,1.15988,1.16000,710,5,2021-11-09 15:55:00,1.159796,1.159106,1.158897,True,True,False,True,False
285,1.16061,1.16065,1.16033,1.16039,499,5,2021-11-09 15:50:00,1.159671,1.158965,1.158889,True,True,False,True,False
284,1.16011,1.16081,1.16005,1.16060,591,5,2021-11-09 15:45:00,1.159537,1.158826,1.158880,True,True,False,False,True
283,1.15977,1.16016,1.15953,1.16010,383,5,2021-11-09 15:40:00,1.159454,1.158665,1.158869,True,True,False,False,True
282,1.15938,1.16004,1.15934,1.15977,495,5,2021-11-09 15:35:00,1.159396,1.158529,1.158861,True,True,False,False,True
281,1.15938,1.15973,1.15936,1.15937,374,5,2021-11-09 15:30:00,1.159307,1.158400,1.158856,True,True,False,False,True
280,1.15948,1.15950,1.15917,1.15937,333,5,2021-11-09 15:25:00,1.159218,1.158294,1.158852,True,True,False,False,True
279,1.15902,1.15968,1.15897,1.15950,323,5,2021-11-09 15:20:00,1.159106,1.158192,1.158848,True,True,False,False,True
278,1.15881,1.15918,1.15865,1.15906,235,5,2021-11-09 15:15:00,1.158913,1.158084,1.158844,True,True,False,False,True
277,1.15920,1.15920,1.15887,1.15888,387,5,2021-11-09 15:10:00,1.158770,1.158005,1.158842,True,True,False,False,True
276,1.15988,1.15996,1.15910,1.15918,442,5,2021-11-09 15:05:00,1.158648,1.157935,1.158841,True,True,False,False,True
275,1.15956,1.15996,1.15949,1.15986,374,5,2021-11-09 15:00:00,1.158433,1.157866,1.158839,True,True,False,False,True
274,1.15896,1.15959,1.15883,1.15957,476,5,2021-11-09 14:55:00,1.158136,1.157769,1.158835,True,True,False,False,True
273,1.15856,1.15903,1.15828,1.15897,394,5,2021-11-09 14:50:00,1.157919,1.157679,1.158832,True,True,False,False,True
272,1.15836,1.15859,1.15811,1.15857,427,5,2021-11-09 14:45:00,1.157741,1.157606,1.158832,True,True,False,False,True
271,1.15777,1.15836,1.15753,1.15836,441,5,2021-11-09 14:40:00,1.157610,1.157583,1.158834,True,True,False,False,True
270,1.15777,1.15792,1.15756,1.15777,279,5,2021-11-09 14:35:00,1.157480,1.157566,1.158837,True,False,True,False,True
269,1.15777,1.15814,1.15743,1.15777,483,5,2021-11-09 14:30:00,1.157421,1.157575,1.158842,True,False,True,False,True

In [31]:
numero = 0
for i in df.loc[289:250]['M9MaiorM20']:
    if i:
        numero +=1
        if numero == 20:
            print(f'comprar: {i}')
            break
    else:
        print(f'comprar: {i}')
        break

comprar: False

In [33]:
numero = 0
for i in df.loc[499:479]['M9MenorM20']:
    if i:
        numero +=1
        if numero == 20:
            print(f'comprar: {i}')
            break
    else:
        print(f'comprar: {i}')
        break

comprar: True